<!doctype html>
<html>
<head>
    <title>Edit Stock Symbol</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" style="width:70%">
        <h2>Edit Watchlist</h2>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <a href="/watchlist" style="width:100px;" class="btn btn-default btn-sm">Watchlist</a>
        <a href="/add" style="width:100px;" class="btn btn-default btn-sm">Add Ticker</a>
        </br>
        </br>
        <% if (stocks && stocks.length > 0){ %>
        <table border=2 width="100%">
            <th width="15%">Ticker</th>
            <th >Purchase Price</th>
            <th >Quantity</th>
            <th >&nbsp;</th>
            <th >&nbsp;</th>
        <%   for( var i = 0; i < stocks.length; i++) { %>
        <%       var stock = stocks[i]; %>
            <tr>
                <td align='left'><span class="fa"><%= stock.symbol %></span></td>
                <form method="post" action="/edit/<%=stock._id%>">
                    <td align='left'><input class="form-control" type="text" name="purchasePrice" value="<%= stock.purchasePrice.toFixed(2) %>"</td>
                    <td align='left'><input class="form-control" type="text" name="qty" value="<%= stock.qty %>"</td>
                    <td align='left'><button type="submit" style="width:100px;" class="btn btn-default">Save</button></td>
                </form>
                <td><a href="/delete/<%=stock._id%>" style="width:100px;" class="btn btn-default">Delete</a></td>
            </tr>               
        <%   } %>
        <% } %>
    </div>
</div>
</body>
</html>