<!doctype html>
<html>
<head>
    <title>My Watch List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
    <script src="/js/index.js"></script>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" style="width:100%">
        <h2>Watchlist</h2>
        <a href="#" onclick="if(window.socketio.connected){
              document.getElementById('spbutton').innerHTML = 'Resume Streaming';
              window.socketio.disconnect();
            }else{
              document.getElementById('spbutton').innerHTML = 'Pause Streaming';
              window.socketio.connect();   
        }" style="width:150px;" class="btn btn-default btn-sm"><span id="spbutton">Pause Streaming</span></a>


        <a href="/" style="width:100px;" class="btn btn-default btn-sm">Home</a>
        <a href="/edit" style="width:100px;" class="btn btn-default btn-sm">Edit Watchlist</a>
        <a href="/logout" style="width:100px;" class="btn btn-default btn-sm">Logout</a>
        </br>
        </br>
        <% if (watchlist && watchlist.length > 0){ %>
        <span style="font-size:12px;">Last Updated: </span><span style="font-size:12px;" id="lastupdated"><%=new Date()%></span>
        <table border=2 width="100%" id="stocktable" style="font-size:12px;">
            <th>Ticker</th>
            <th>Name</th>
            <th>Market Price (chg%)</th>
            <th>Purchased Price (gain%)</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Market Value (gain$)</th>
        <%   for( var i = 0; i < watchlist.length; i++) { %>
        <%       var stock = watchlist[i]; %>
            <tr>
                <td align='left' id='symbol<%=i%>'><span class="fa"><%= stock.symbol %></span></td>
                <td align='left' id='name<%=i%>'><span class="fa"><%= stock.name %></span></td>
                <td align='left' id='lastTradePrice<%=i%>'><span class="fa"><%= stock.lastTradePriceOnly %> (<%=stock.changeInPercent.toFixed(4)%>)</span></td>
                <td align='left'><span class="fa" <% if (stock.gainPct < 0) {%> style='color:red'<%}%> > <%= stock.purchasePrice.toFixed(2) %> (<%=stock.gainPct.toFixed(4)%>)</span></td>
                <td align='left'><span class="fa"><%= stock.qty %></span></td>
                <td align='left'><span class="fa"><%= stock.cost.toFixed(2) %></span></td>

               <td align='left' id='marketValue<%=i%>'><span class="fa"><%= stock.value.toFixed(2) %> (<%=stock.valueGain.toFixed(4)%>)</span></td>
                <!--
                <td align='left' id='marketValue <%=i%>'><span class="fa" <% if (stock.valueGain < 0) {%> style='color:red'<%}%> > <%= stock.value.toFixed(2) %> (<%=stock.valueGain.toFixed(2)%>)</span></td>
                -->
            </tr>               
        <%   } %>
        <% } %>
    </div>

</div>
</body>
</html>